body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
 body {
     background: #fff;
 }
.center{
    margin: 0;
    padding: 0;
}
.input-field input[type=date]:focus+label,
.input-field input[type=text]:focus+label,
.input-field input[type=email]:focus+label,
.input-field input[type=password]:focus+label {
    color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
}
.btn-login {
    background-color: var(--orange-default) !important;
}
button .btn-login:hover{
    background-color: var(--pink) !important;
}
.waves-pink {
    background-color: var(--pink) !important;
}
.orange-default-text{
    color: var(--orange-default) !important;
}
.avatar-user{
    margin: 0;
    clip-path: circle(50% 50%);
}
/*start mamin style*/
.loader {
  position: absolute;
  top: 40%;
  left: 47%;
}

.login {
  margin-top: 70px;
  margin-bottom: 70px;
}

.btn-extended {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
/*end mamin style*/
